#card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0px 30px;
  width: auto;
  height: auto;
}
* {
  text-decoration: none;
  color: black;
}
#card img {
  width: 200px;
  height: 200px;
}

/* HOVERS */

#card:hover {
  transition: all ease 0.5s;
  cursor: pointer;
}
