.container {
  background: url("../../utils/img/detail_bg.png");

  background-position: bottom;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "return"
    "card";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
}

.return {
  grid-area: return;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.card {
  grid-area: card;
  width: 70%;
  max-width: 957px;
  height: 90%;
  max-height: 518px;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(213 213 213 / 50%);
}

.principal {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal img {
  height: 60%;
  width: 60%;
}

.stats {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10px;
}

.containerLoading {
  background: url("../../utils/img/detail_bg.png");
  background-position: bottom;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return img {
  width: 40px;
  height: 40px;
}

@media (max-width: 850px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    background-color: rgb(213 213 213 / 50%);
    max-height: none;
    max-width: none;
  }
  .principal {
    margin-top: 5px;
  }
  .principal img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 290px;
  }
  .stats {
    width: 100%;
  }
  .stats h3 {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .card {
    width: 95%;
  }
}
