@font-face {
  font-family: "PokemonGb-RAeo";
  src: url("./utils/fonts/font_gba.ttf") format("truetype");
}
.App {
  text-align: center;

  font-family: "PokemonGb-RAeo";
}
/* EQUILIBRA BORDERS CON PADDINGS PARA NO SALIR DE ESCUADRA */
* {
  box-sizing: border-box;
}
body {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 134, 134, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 200px 1fr;
  /* SI SE VE EN UNA PANTALLA MAS GRANDE,AGREGA BG */
  max-width: 1500px;
  /* CENTRA EL CONTENIDO */
  margin: auto;
}

header {
  grid-area: header;
  /* background: #f6ae99; */
}

aside {
  grid-area: aside;
  padding-left: 10px;
  /* background: #f6ae99; */
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

aside img {
  margin-top: 50px;
  height: 200px;
  width: 200px;
}
section {
  grid-area: section;
  display: grid;
  grid-template-areas:
    "search"
    "pokemons"
    "pagination";
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
}

.search {
  grid-area: search;
  padding: 28px;
  /* background: #f6ae99; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkForm {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  box-shadow: inset 0 0 0 0.5px black;
  border-radius: 5px;
}

.linkForm:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
}

.pokemons {
  /* background-color: blue; */
  grid-area: pokemons;
  /* background: #f6ae99; */
  display: grid;
  align-items: center;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.paginado {
  grid-area: pagination;
  /* background: #f6ae99; */
  padding: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer {
  padding-left: 5px;

  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer .icons * {
  height: 25px;
  width: 25px;
}

footer .name {
  padding-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.pokemons div {
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  main {
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "section"
      "footer";
  }

  section {
    grid-template-columns: 1fr 1fr;
  }
  section div {
    height: 300px;
  }
}

/* POR QUE ACA Y PORQUE SI O SI CON EL IMPORTANT???  */
.normal:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.grass:hover {
  background-color: rgba(1, 161, 1, 0.8) !important;
}

.fire:hover {
  background-color: rgba(245, 8, 8, 0.8) !important;
}

.water:hover {
  background-color: rgb(4, 4, 197, 0.8) !important;
}

.ice:hover {
  background-color: rgba(151, 151, 223, 0.8) !important;
}

.bug:hover {
  background-color: rgb(77, 199, 77, 0.8) !important;
}

.electric:hover {
  background-color: rgb(243, 243, 29, 0.8) !important;
}

.ground:hover {
  background-color: rgb(194, 127, 65, 0.8) !important;
}

.poison:hover {
  background-color: rgb(161, 53, 161, 0.8) !important;
}

.fairy:hover {
  background-color: rgb(255, 128, 213, 0.8) !important;
}

.fighting:hover {
  background-color: rgba(248, 147, 15, 0.8) !important;
}

.dragon:hover {
  background-color: rgba(251, 121, 61, 0.8) !important;
}

.psychic:hover {
  background-color: rgba(219, 123, 219, 0.8) !important;
}

.rock:hover {
  background-color: rgb(128, 63, 11, 0.8) !important;
}

.ghost:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.dark:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
