.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

.form input {
  margin-bottom: 5px;
}

.danger {
  border: 2px solid red;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-top: -110px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
