@font-face {
  font-family: "PokemonGb-RAeo";
  src: url("../../utils/fonts/font_gba.ttf") format("truetype");
}
.input {
  border: none;
  box-shadow: inset 0 0 0 0.5px black;
  border-radius: 5px;
}
.input::placeholder {
  padding-left: 2px;
  font-family: "PokemonGb-RAeo";
  font-size: 9px;
  color: black;
}
.formSearch {
  display: flex;
}
.buttonSearch {
  display: flex;
  background-color: transparent;
  border: none;
  size: 10px;
  cursor: pointer;
}
.buttonSearch img {
  width: 25px;
  height: 25px;
}
